@media (max-width: 960px) {
    main {
        margin-top: 96px;
    }

    .logo {
      font-size: 28px;
    }
    
    .menu {
        display: none;
    }

    .menu_item {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        padding-bottom: 20px;
    }

    #sign_in {
        display: none;
    }

    #log_in {
        margin-left: 0;
    }

    .hamburger_box {
        display: flex;
        justify-content: flex-end;
    }

    .first_screen {
        flex-direction: column;
        align-items: center;
    }

    .text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    hr {
        width: 100%;
    }

    .subtitle {
        text-align: center;
    }

    .ComputerImg {
        margin-top: 64px;
        max-width: 50%;
        height: auto;
    }

    .screen_button {
        width: 100%;
    }

    .BigBlueBoxImg {
        display: none;
    }

    .Boldsubtitle {
        display: none;
    }

    .OneBlueBox {
        width: 45%;
        margin: 4px;
        flex: auto;
    }

    .BlueBoxTitle {
        font-size: 12px;
        line-height: 12px;
    }

    .BlueBoxSubitle {
        font-size: 9px;
        line-height: 12px;
    }

    .list_item {
        flex: auto;
    }

    #lastbluebox {
        display: flex;
        justify-content: center;
    }

    .footer_text {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer_right {
        flex-direction: column;
    }

    .footer_right_info {
        height: 168px;
        align-items: center;
    }

    .adress {
        text-align: center;
    }

    .footer_copy {
        flex-direction: column;
        align-items: center;
    }

    .footer_menu {
        align-items: center;
        margin: 0;
    }

    .footer_menu_item {
        padding: 16px 0;
    }

    .social_network {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {

    .logo {
      font-size: 24px;
    }

    .title, .Boldtitle {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
    }

    .screen_button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .logo {
      font-size: 20px;
    }
    
    .title, .Boldtitle {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-top: 8px;
    }

    .screen_button {
        font-size: 18px;
    }
}
